@CHARSET "UTF-8";
@import 'mixins.less';

.global-reset;
.html5-reset;
/* vollkorn-regular - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'),
       url('../fonts/vollkorn-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/vollkorn-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vollkorn-italic - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  src: local('Vollkorn Italic'), local('Vollkorn-Italic'),
       url('../fonts/vollkorn-v8-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/vollkorn-v8-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vollkorn-700 - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'),
       url('../fonts/vollkorn-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/vollkorn-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* vollkorn-700italic - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  src: local('Vollkorn Bold Italic'), local('Vollkorn-BoldItalic'),
       url('../fonts/vollkorn-v8-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/vollkorn-v8-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans-v15-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@base: #222;

body {
	background: #FFF;
	color: @base;
	font: 64.5%/225% 'Open Sans', Arial, sans-serif;
}
a:link,
a:visited {
	color: @base;
}
.wymeditor,
.twitter,
footer {
	a:hover,
	a:active,
	a:focus { 
		background-color: @base;
		color:#FFF;
		text-decoration:none;
	}
}
a img { border:0 none; background:none !important; text-decoration:none; }
p,
ul,
ol,
address,
form { font-size:1.4em; line-height:1.6em; margin-bottom:2em; }
h1,
h2,
h3,
h4 {
	font-family: 'Vollkorn', Times New Roman, Times, serif;
	margin-top: 0;
}
h1 {
	font-size: 2.6em;
	font-weight: 400;
	line-height: 1em;
	margin-bottom: 1em;
}
h2 {
	font-size: 2.3em;
	line-height: 1.15em;
	margin-bottom: 1em;
}
h3 {
	border-bottom: 2px solid @base;
	font-size: 2.4em;
	line-height: 1.0em;
	margin-bottom: 2em;
	padding-bottom: 10px;
}
h4 {
	font-size: 1.6em;
	margin-bottom: 20px;
}
ol {
	.platz1 {
		font-size: 1.6em;
		font-weight: bold;
		margin-bottom: 12px;
	}
	.platz2 {
		font-size: 1.4em;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.platz3 {
		font-size: 1.3em;
		font-weight: bold;
		margin-bottom: 8px;
	}
	.platz4 {
		font-size: 1.2em;
	}
	.platz5 {
		font-size: 1.0em;
	}
	.platz6 {
		font-size: 1.0em;
	}
	.platz7 {
		font-size: 1.0em;
	}
}
.article {

}
.content {
	margin-bottom: 4.4em;
}
.letzte {
	margin-right: 0 !important;
}
// Blog
.post {
	margin-bottom: 40px;
}
#comments {
	border-bottom: 1px solid #DEDEDE;
	margin-bottom: 40px;
}
fieldset {
	border: 1px solid @base;
	display: block;
	margin-bottom: 15px;
	padding: 10px;
}
legend {
	background-color: #FFF;
	color: @base;
	padding: 0 5px;
	text-transform: uppercase;
}
input,
textarea {
	border: 1px solid @base;
	display: block;
	margin-bottom: 10px;
	padding: 4px;
	width: 400px;
}
textarea {
	height: 200px;
}
.fail,
.win {
	border-width: 3px;
	border-style: solid;
	margin-bottom: 20px;
	padding: 10px;
}
.fail {
	background-color: #fff7b6;
	border-color: #fde200;
	color: @base;
}
.win {
	background-color: #EFF5EA;
	border-color: #446423;
	color:#3D6611;
}
label {
	&.error {
		color:#DF280A;
	}
}
input {
	&.error {
		border-color:#DF280A;
	}
}
textarea {
	&.error {
		border-color:#DF280A;
	}
}
input {
	&.submit {
		background-color: @base;
		.border-radius(3px);
		color: #FFF;
		font-size: 100%;
		padding: 3px 5px;
		text-decoration: none;
		width: auto;
	}
}
.quantity {
	width: 25px;
}
#container {
	position:relative;
}
.wymeditor {
	ul, ol {
		margin-left: 25px;
	}
}
header {
	border-top: 4px solid @base;
	position:relative;
	#im-kopf {
		height: 106px;
		margin: 0 auto;
		position: relative;
		width: 960px;
		a:hover {
			background:none;
			padding:0;
		}
		#logo {
			position: absolute;
			left: 40px;
			top: 24px;
			max-width: 100%;
		}
	}
}
#nav {
	.clearfix;
	margin: 0 auto;
	width: 960px;
}
.nav1 {
	.clearfix;
	border-top: 2px solid @base;
	border-bottom: 2px solid @base;
	margin-bottom: 0;
	padding: 2px 0;
	font-family: 'Vollkorn', Times New Roman, Times, serif;
	font-size: 1.4em;
	font-weight: 400;
	list-style: none;
	li {
		display: inline;
		float: left;
		margin: 0 42px;
		&.active {
			a { color:@base; }
		} 
	}
	a:link,
	a:visited,
	a:hover,
	a:active,
	a:focus {
		background: none;
		color: @base;
		display: block;
		padding: 10px 0;
		text-align: center;
		text-decoration: none;
	}
}
#main-wrapper {
	.clearfix;
	margin: 0 auto;
	padding: 60px 40px;
	position: relative;
	width: 900px;
}
.verwandter {
	.clearfix;
	border-bottom: 1px solid @base;
	margin-bottom: 40px;
	padding-bottom: 40px;
	h2 {
		margin-bottom: 0;
	}
	img {
		float: left;
		background: #FFF;
		border: 1px solid #DDD;
		display: block;
		height: auto;
		margin-right: 20px;
		max-width: 100%;
		padding: 7px;
	}
	p {
		margin-bottom: 0;
	}
}
#appetitanreger {
	margin-bottom: 25px;
	position: relative;
	img {
		background: #FFF;
		border: 1px solid #DDD;
		display: block;
		height: auto;
		max-width: 100%;
		padding: 7px;
	}
	#auszeichnung {
		position: absolute;
		right: 20px;
		top: 30px;
		img {
			background: none;
			border: 0 none;
			height: auto;
			max-width: 100%;
			padding: 0;
		}
	}
}
#haupt {
	float: left;
	margin-right: 20px;
	width: 580px;
}
.spalte {
	float: left;
	margin: 0 10px;
	width: 280px;
	.link {
		a {
			background: @base;
			.border-radius(3px);
			color: #FFF;
			padding: 2px 4px;
			text-decoration: none;
			&:after {
				content:' »';
			}
		}
	}
}
.inhalt {
	ul {
		line-height: 1.8em;
	}
}
.galerie {
	.clearfix;
	list-style: none;
	margin-left: 0;
	padding: 0;
	li {
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		width: 180px;
		list-style: none;
	}
	img {
		background: #FFF;
		border: 1px solid #DDD;
		display: block;
		padding: 7px;
	}
}
aside {
	display: inline;
	float: right;
	width: 180px;
}
.twitter {
	h2 {
		background: url(../images/twitter-icon.png) left center no-repeat;
		font-size: 1.4em;
		height: 20px;
		line-height: 20px;
		padding-left: 34px;
		a {
			text-decoration: none;
		}
	}
}
.tweet {
	margin-bottom: 20px;
}
.tweet-text,
.tweet-date { 
	margin:0;
}
.tweet-text {
	font-size: 1.3em;
	font-style: italic;
	line-height: 1.45em;
}
.tweet-date {
	font-size: 1.1em;
}

#nav2 {
	ul {
		border: none;
		border-top: 1px solid @base;
		margin: 0;
		margin-bottom: 40px;
		li {
			border-bottom: 1px solid @base;
			display: block;
			float: none;
			margin: 0;
			a {
				color: @base;
				display: block;
				padding: 5px 12px;
				text-align: left;
				text-decoration: none;
				&:hover,
				&:active,
				&:focus {
					background: none;
				}
			}
		}
	}
}

.related {
	margin: 0 0 15px 0;
	overflow: hidden;
	width: 100%; /* for IE/Win */
	h3 {
		padding: 0;
	}
}
footer {
	.clearfix;
	border-top: 2px solid @base;
	clear: both;
	font-size: 0.9em;
	margin: 0 auto;
	padding: 10px 40px 40px;
	text-align: left;
	width:880px;
	nav {
		float: left;
		li {
			display: inline;
			margin-right: 5px;
		}
	}
	a:hover {
		background-color: none;
	}
	#sozial {
		float: right;
	}
}


/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
   
/*@media (min-device-width:1024px) and (max-width:989px),
	screen and (max-device-width:480px),
		(max-device-width:480px) and (orientation:landscape),
			(min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait) {
			
			#main-wrapper  { width:468px; }
			.nav1 { padding-bottom:30px; }
			.nav1 li,
			.nav2 li { margin-bottom:10px; }
}*/



@media only screen and (max-width: 768px) {
	input,
	textarea {
		width: 96%;
	}
	header {
		#im-kopf {
			margin: 0;
			padding: 0;
			width: 96%;
		}
	}
	#nav {
		margin-bottom; 40px;
		padding: 2%;
		width: 96%;
	}
	.nav1 {
		.clearfix;
		border-bottom:0 none;
		li {
			border-bottom: 2px solid @base-color;
			display: block;
			margin: 0;
			width: 50%;
		}
	}
	#main-wrapper {
		padding: 2%;
		width: 96%;
	}
	.verwandter {
		img {
			float: none;
			width: 100%;
		}
	}
	#haupt {
		float:none;
		margin:0;
		padding:0;
		width: 98%;
	}
	.spalte {
		float: none;
		margin: 0;
		padding: 0;
		width: 98%;
	}
	aside {
		display: block;
		float: none;
		margin: 0;
		padding: 0;
		width: 98%;
	}
	footer {
		margin:0;
		padding: 2%;
		width: 96%;
	}
}

@media only screen and (max-width: 480px) {
	input,
	textarea {
		width: 96%;
	}
	header {
		#im-kopf {
			margin: 0;
			padding: 0;
			width: 96%;
		}
	}
	#nav {
		margin-bottom; 40px;
		padding: 2%;
		width: 96%;
	}
	.nav1 {
		.clearfix;
		border-bottom:0 none;
		li {
			border-bottom: 2px solid @base-color;
			display: block;
			float: none;
			margin: 0;
			width: 100%;
		}
	}
	#main-wrapper {
		padding: 2%;
		width: 96%;
	}
	.verwandter {
		img {
			float: none;
			width: 100%;
		}
	}
	#haupt {
		float:none;
		margin:0;
		padding:0;
		width: 98%;
	}
	.spalte {
		float: none;
		margin: 0;
		padding: 0;
		width: 98%;
	}
	aside {
		display: block;
		float: none;
		margin: 0;
		padding: 0;
		width: 98%;
	}
	footer {
		margin:0;
		padding: 2%;
		width: 96%;
	}
}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: @base-color !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid @base-color; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}